/*Estilos para o cabeçalho*/

header{
    background-color: #152259;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-content {
    display:flex;
    align-items: center;
    /* width: 100%; */
    max-width: 1200px;
    justify-content: center;
    position: relative;
}

.header-content img {
    position: relative;
    left: 0;
    /* max-width: 14%;  Ajuste conforme necessário */
    max-width: 50px; 
}

.header-content h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}





/*ESTILOS PARA TODO O CORPO DA PÁGINA*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/*ESTILOS PARA O RODAPÉ*/
footer{
    background-color: #152259;
    text-align: center;
    color: white;
    padding: 1em;  
}

/*ESTILOS PARA O SEÇÕES*/
section{
    background-color: white;
    padding: 2em;
    margin: 1em;
    border-radius: 1em ;
    box-shadow: 0px 2px 4px black;
}

/*ÁREA DE NAVEGAÇÃO*/
nav ul{
    list-style-type: none;
    background-color: #DD5746;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex:1;
    text-align: center;

}

nav ul li a{
    text-decoration: none;
    padding: 1em;
    color: white;
    display: block;
}
nav ul li a:hover{
    background-color: #8B322C;
}

div{
    text-align: center;
}
